.register {
  display: flex;
  align-items: center;
  justify-content: center;

  &-box {
    margin-top: 75px;
    max-width: 400px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 30px;

    form {
      margin-top: 10px;
    }
  }

  &-forgot {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    a {
      border-bottom: 1px solid transparent;
      color: #d23669;

      &:hover {
        border-bottom: 1px dashed #d23669;
      }
    }
  }

  &-link {
    margin-top: 15px;
    display: flex;
    align-items: center;

    a {
      margin-left: 8px;
      color: #d23669;
    }
  }

  .btn {
    width: 100%;
  }
}
