.btn {
  background: #d23669;
  border-radius: 5px;
  padding: 8px 28px;
  color: #fff;
  display: flex;
  text-decoration: none;
}

.btn.outline {
  background: transparent;
  border: 1px solid #d23669;
  color: #d23669;
}
